* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header h1,
section h2,
section h3
form button {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

body, input, textarea {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 16px 0;
    background-color: blue;
    color: white;
}


header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #000000;
    text-decoration: none;
}

.container,
.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container,
section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: #182c61;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
    margin-bottom: 1;
}

.submenu {
    display: none;
    border: 1px solid black;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 300px;
    top: 100%;
}

.menu > li {
    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
}

.menu li:hover .submenu {
    display: block;
}

.menu li:hover {
    border-color: black;
}

.submenu li {
    display: block;
    padding: 8px;
}

.conteudo {
    display: grid;
    grid-template-columns: 70% 30%;
}

.noticia img {
    max-width: 100%;
}

.destaque {
    margin-bottom: 56px;
}

.destaque .notica a {
    display: flex;
    font-size: 2em;
}

.destque .noticia img {
    margin-right: 8px;
}

section h2 {
    margin-bottom: 32px;
}

aside {
    padding-left: 40px;
}

aside .noticia {
    margin-bottom: 24px;
}

.noticias {
    display: grid;
    grid-template-columns: repeat(4, 24.5%);
    column-gap: 1%;
    row-gap: 5%;
}

.geral {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.geral {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.solid {
    padding: 10px;
    border-bottom: 2px solid black;
    font-style: italic;

}

.price {
    margin: 16px 0;
    display: block;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: blue;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

body {
    font-style: italic;
}

.colorido {
    color: black;
    margin: none;
}

@media screen and (max-width: 641px){
    .conteudo {
        display: block;
    }

    .container {
        max-width: 90%;
    }
    
    .destaque .noticia a {
        display: block;
        font-size: 1.5em;
    }
    .destaque .notica img {
        margin-right: 0;
    }
    .noticias {
        display: block;
    }

    .noticias .noticia {
        margin-bottom: 32px;
    }

    aside {
        padding-left: 0;
    }

    header div.cotainer {
        flex-direction: column;
    }

    .submenu {
        display: block;
        width: 100%;
        position: relative;
        border: none;
    }

    .menu {
        display: none;
    }

    .menu > li {
        clear: both;
    }

    .submenu {
        display: block;
        padding: 8px;
    }
    
    .destaque {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 1%;
        row-gap: 5%;
    }

    @media screen and (min-width: 641px;) and (max-width: 1024) {
        .noticias {
            grid-template-columns: repeat(2, 48%);
        }
    }
        
}
